/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
}
ol, ul {
	list-style: none;
    
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: digit;
    src: url(ds-digit.ttf);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
}
body {
    background: #6d0000;
    background-size:cover;
    color: #d6d5c9;
    margin: 0px;
    
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20;
    
    
}
.score {
    font-family: digit;
    background-color: #0a100d;
    border-radius: 10px;
    color: #a22c29;
    margin: 30px 80px 20px 80px;
    font-size:200px;
    padding: 0px 80px;
    margin:0px 10px 0px 10px;
    border: 3px solid #d6d5c9;
    width: 200px;
    border: 2px solid #d6d5c9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.btn {
    border: 2px solid #d6d5c9;
    background-color: #6d0000;
    border-radius: 5px;
    padding: 10 15 10 10;
    color: #d6d5c9;
    font-weight: bold;
    font-family: digit;
    font-size: 30px;
    margin: 0 5;
    width: 60px;
}
.btn-ps {
    text-align: center;
    margin-top: 40px;
}
#btn-reset {
    display: block;
    margin: 50 auto;
    width: 200px;
}
